.row
	.col-md-12
		%li.product_item
			.product_title
				= product.title
			.product_description
				= truncate(product.description, length: 60)
			.product_price
				= product.price
			.product_info
				= link_to '#', class: 'read_more' do
					%i.fa.fa-angle-double-down

			.row.product_more
				.product_more_wrapper
					.col-md-4
						= link_to category_product_path(product.category, product) do
							%img{:class => "img-thumbnail", :src => "http://lorempixel.com/400/250/food", :alt => 'Product'}
					.col-md-8
						%h4= product.description
					.row.product_reviews
						.col-md-12{:style => 'margin-top: 15px;'}
							%h4 Reviews
							- if product.reviews.exists?
								- product.reviews.limit(3).each do |review|
									.review_wrapper
										.row
											.col-md-12.review.content
												= review.content
											.col-md-12
												.pull-left
													%em
														Created by:
														= review.user.email
								.row
									.col-md-12
										= link_to "Read all reviews", category_product_path(product.category, product), class: 'btn btn-default btn-block'
							- else
								%h5 This product does not have any reviews
								.row
									.col-md-12
										= link_to "Be the first to add reviews", category_product_path(product.category, product), class: 'btn btn-default btn-block'			

