.row.product_header
  .col-md-7
    %img{:class => "img-thumbnail", :src => "http://lorempixel.com/600/400/food", :alt => 'Product'}
  .col-md-5
    %h2.heading= product.title
    .sub_description
      = product.description
    .sub_price
      %i.fa.fa-eur
      = product.price
    = link_to "Back to #{product.category.name}", product.category, class: 'btn btn-default btn-block'
    - owner_link(product) do
      = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default btn-block'

.row.reviews_on_product
  .col-md-12
    %h2.heading Reviews
    = render 'reviews/form'

    = render reviews
    
